.tablecontainer table,
td,
th,
tr {
  border: 1px solid #098;
  border-collapse: collapse;
}
.tablecontainer td,
th {
  padding: 10px 10px !important;
  text-align: center;
}
td {
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}
