.tablecontainer table,
td,
th,
tr {
  border: 2px solid #098;
  border-collapse: collapse;
}
.tablecontainer td,
th {
  padding: 10px 10px !important;
  text-align: center;
  border: 2px solid #098;
  text-transform: capitalize;
  font-weight: 600;
}
td {
  text-align: center;
  border: 2px solid #098;
  text-transform: capitalize;
  font-weight: 600;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.traintable {
  position: absolute;
  top: 10px;
  height: 95vh;
  overflow-y: scroll;
  color: #ffffff;
}
